*,
*::before,
*::after{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

a{
    color:inherit;
    text-decoration: none;
}
p{
    margin-bottom: 1rem;
}

/* -------------------------------------------------------- */
/*                         HEADER                           */
/* -------------------------------------------------------- */
.main-header{
    background-color: aqua;
}
.main-header .container{
    background-color: blueviolet;
    padding: 1rem 2rem;
}

.main-header .logo,
.main-header nav{
    background-color: blue;
    padding:1rem;
}

/* -------------------------------------------------------- */
/*                          MAIN                            */
/* -------------------------------------------------------- */
main{
    background-color: bisque;
}

/* intro */
#intro .container{
    background-color: yellow;
}
#intro .cards{
    background-color: brown;
}

/* planning */
#planning .container{
    background-color: aqua;
}

/* testimonials */
#testimonials .container{
    background-color: coral;
}

/* about-us */
#about-us .container{
   background-color: black; 
}

/* -------------------------------------------------------- */
/*                         CLASSES                          */
/* -------------------------------------------------------- */
.container{
    width: 100%;
    margin:0 auto;
    padding: 3rem 2rem 4.5rem;
}
.content{
    flex-basis: 100%;
}
.left{
    background-color: cadetblue;
    /* da cancellare */
    min-height: 300px;
}
.right{
    background-color: rosybrown;
    /* da cancellare */
    min-height: 250px;
}

/* flex */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-between-end{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* cards */
.card{
    background-color: rebeccapurple;
    flex-basis: 100%;
    border-radius: 20px;
    margin : .8rem 0;
    /* da cancellare */
    height: 300px;
}


/* -------------------------------------------------------- */
/*                        RESPONSIVE                        */
/* -------------------------------------------------------- */
/* tablet */
@media screen and (min-width : 480px) {
    /* main */
        /* intro */
    #intro .card:first-child{
        flex-basis: calc(67% - .8rem);
    }
    #intro .card{
        flex-basis: calc(33% - .8rem);
    }
        /* testimonials */
    #testimonials .card{
        flex-basis: 100%;
    }
        /* benefits */
    #benefits .card{
        flex-basis: calc(50% - .8rem);
    }
        /* about-us */
    #about-us .content.left{
        flex-basis: 70%;
    }
    #about-us .content.right{
        flex-basis: 30%;
    }

    /* classes */
    .card{
        margin: .8rem 0 ;
    }
}

/* desktop */
@media screen and (min-width : 768px) {
    .container{
        width: 70%;
        padding: 2.5rem 0;
    }

    /* main */
        /* planning */
    #planning .content{
        flex-basis: 40%;
    }
        /* benefits */
    #benefits .card{
        flex-basis: calc(33% - .8rem);
    }
        
   
}